<html>

<style>
body{background: url(https://s.yimg.com/uy/build/images/sohp/hero/persist3.jpg) no-repeat center center fixed;}
</style>
<body>
<span style="text-align: center">
<span style="font-family: Arial">
<span style="color: white">
<br /><br /><br /><br /><br /><br /><br />
<h1>Home Of Your Pictures.</h1>
<p>Upload, Access, Edit And Share Any Picture From Anywhere Whole World.</p>
<p> Share More, Love More. </p>
</span>
</span>
</span>

</body>
</html>