<% provide(:title, "Help") %>
<style>
dd { 
    display: block;
    margin-left: 40px;
    color:
}
</style>
<h1 style="text-align: center">Help</h1>
<p>
  This is a website developed by the Japanese students specialized classes C , HEDSPI K57 , Hanoi University of sience and techology.This is the place to share your exciting moments and relatives. Website these shortcomings , we hope to receive the support and suggestions from you . Sincerely thank!
</p>
<p>
<dl>
 <dt>Any quesion please contact:</dt> 
 <dd><em style="color: blue">Manager: Mr.Nguyen Ngoc Son</em></dd>
 <dd><em style="color: blue">Phone number: 0123456789</em></dd>
</dl>

</p>
