<div class="stats">
	<a href="<%= likers_post_micropost_path(micropost) %>">
	    <strong id="liking_post" class="stat" style="color: #3b5998;float: left;">
	      <%= micropost.likers_post.count %> like
	    </strong>
  	</a>
</div>